/* Q1 */
.logo{
    color: red;
}
/* Q2 */
.nav a{
    color: green;
}
/* Q3 */
nav a:visited{
    color: #444;
}
/* Q4 */
.above-the-fold .card{
    color: white;
}
/* Q5 */
.above-the-fold .card button{
    background-color: lightgreen;
    color: white;
}
/* Q6 */
article p::first-letter{
    margin-left: 30px;
}
/* Q7 */
.blog{
    background-color: #666;
    color: #cff;
}
/* Q8 */
.gallery figure:hover{
    box-shadow: 5px 3px gray;
}
/* Q9 */
.gallery figcaption{
    padding: 8px;
}
/* Q11 */
article{
    margin: 40px auto 0 auto;
    max-width: 800px;
}
/* Q12 */
.article-title{
    text-align: center;
}
/* Q13 */
section h2{
    text-transform: uppercase;
}
/* Q14 15 16*/
.form-input{
    display: block;
    margin-bottom: 4vh;
    padding: 15px;
}
/* Q17 */
footer{
    background-color: rgb(104, 100, 100);
    color: #f8ba56;
}
/* Q18 */
.form-input:focus{
    border-width: 4px;
}
/* Q19 */
section h2::before{
    content: ">";
    margin-right: 4px;
}
/* Q20 */
form input[type="radio"]{
    margin-left: 20px;
    margin-right: 5px;
}



  






